export SLS_DEBUG=*
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export GRAPH_QL_ENDPOINT=""
export AUTH0_CLIENT_ID=""
export AUTH0_CLIENT_SECRET=""
export AUTH0_DOMAIN="your-domain.auth0.com"
