#if($ctx.error)
    $util.error($ctx.error.message, $ctx.error.type)
#end

#foreach($user in $ctx.prev.result.items)
    #foreach( $company in $ctx.result.items )
        #if($user.companyID.contains($company.id))
            #set($tmpCompany = $company)
        #end
    #end

    # 商品情報を契約情報に追加します。
    #set($temp = { "company": $tmpCompany })
    $util.qr($contract.put("company", $temp))
#end

$util.toJson($ctx.prev.result)
